*{
  margin: 0px;
  padding: 0px;
}
.App {
 display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}
body{
  background-color:rgb(221, 228, 234);
}
.calculator{
  width: 100%;
  max-width: 400px;
  background-color: rgb(254, 249, 249);
  border-radius: 10px;
  overflow: hidden;
}

.screen{
background-color: rgb(3, 3, 39);
text-align: end;
padding: 25px;
color: aliceblue;
font-size: 35px;
font-weight: 300;

}
.screen span{
  font-size: 13px;
  color: gray;
  ;
} 
button{
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  opacity: 0.8;
}
.operators{
  
  display: flex;
}
.operators button{
  padding: 20px;
flex: 1 1 0%;
background-color: rgb(228, 45, 45);
font-weight: 100;
font-size: 20px;
}
.digits{
  display: flex;
  flex-wrap: wrap;

}
.digits button{
  padding: 20px;
  font-size: 20px;
  flex: 1 1 33.33%;
  background-color:  rgb(3, 3, 39);
  color: aliceblue;
}





